.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;  }
  
  .react__slick__slider__parent .slick-prev:before, .slick-next:before {
    color: black;
  }

 