.banner-container-1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.banner-container-1 .banner-1{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    background: linear-gradient(-55deg, #10143f 29%,#0f143c 29.1%, #201a5c 68%, #0f143c 68.1%);

    border-radius: 5px;
    margin:10px;
    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container-1 .banner-1 .shoe{
    /* flex:1 1 250px; */
    padding:15px;
    text-align: center;
}

.banner-container-1 .banner-1 .shoe img{
    width:80%;
}

.banner-container-1 .banner-1 .content{
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    flex:1;
    padding:10px;
    /* text-transform: uppercase; */
}

.banner-container-1 .banner-1 .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container-1 .banner-1 .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container-1 .banner-1 .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container-1 .banner-1 .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container-1 .banner-1 .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    /* flex:1 1 250px; */
}

.banner-container-1 .banner-1 .women img{
    width:80%;
}

@media (max-width:768px){
    .banner-container-1 .banner-1 .women{
        display: none;
    }
}