
.footer {
    padding: 90px 105px 25px 105px;
    color: #d6d9db;
    min-height: max-content;
}
.company-detail {
  margin-right: 13rem;
}


.footer .top-footer {
    padding: 0 0 50px;
    border-bottom: 1px solid #979797;
    /* border-top: 1px solid #979797; */
}
.footer .footer-logo {
    width: 100%;
    margin: 0 auto;


}
.footer .footer-logo a {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.75;
}

.footer .tagline {
    font-size: 0.875rem;
    margin: 1rem 0;
   
    color: #fff;
    opacity: 0.5;
}

.footer h4 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #d6d9db;
    line-height: 22px;
    margin: 14px 0 0;
    padding: 0 0 25px;
}

.footer .footer-link {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: normal;
}

.footer .footer-link a {
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
}

.footer .footer-link a:hover {
    transform: scale(1.01);
    transition: all 0.3s;
}

.footer .social-icons a {
    display: inline-block !important;
    padding-bottom: 8px !important;
    margin-right: 15px;
}

.footer .social-icons a :hover {
    text-decoration: underline;
    transform: translateY(-1px);
}

.footer .bottom-footer {
    padding: 30px 0 0;
}

.bottom-footer .copyright {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 0.75;
}

.bottom-footer .scc-footer-logo a {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    display: block;
}


@media only screen and (max-width: 1199px) {
   
    .footer {
        /* padding: 45px 50px 25px 50px; */
    }
    .footer .footer-logo {
        width: 100%;

        margin: 0   auto ;
    
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
  
    .footer {
        padding: 20px 30px;
    }
    .company-detail {
      margin-right:0 ;
    }
}

@media only screen and (max-width: 768px) {

  .footer{
    text-align: center;
    padding: 25px;
  }
  
 
    .company-detail {
      margin-right:0 ;
    }
}

